body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #1A0B2E;


}

/* header section */
nav h4 {
    margin-left: 200px;
    font-size: 30px;
    font-weight: 800;
}

.Tech {
    color: white;
}

.Wave {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;

    align-items: center;


}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;


}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn1 {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    border-radius: 20px;
    padding: 12px 16px;
    margin-right: 200px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
}



/* HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.hero-mic {
    background-image: url('../assets/hero-circle.png');
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    margin-top: 20px;
}

.btn-grp {
    display: flex;

    justify-content: center;
    gap: 20px;

}

.btn {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    border-radius: 20px;
    padding: 12px 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
}

.btn3 {
    color: #00FF88;
    border-radius: 20px;
    padding: 12px 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid #00FF88;
    background-color: #1A0B2E;
}

/* about section */

.about {
    color: white;
    text-align: center;
    /* width: 1600px; */
    height: 222px;
    margin: 0 auto;
    /* border: 2px solid white;  */
    padding-left: 200px;
    padding-right: 200px;
}

.about h3 {
    font-size: 48px;
}

.about p {

    text-align: center;

    font-size: 16px;
}

/*  details section  */
.count {

    text-align: center;
    /* width: 1600px; */
    /* border: 2px solid white;
     */


    padding-left: 200px;
    padding-right: 200px;
    margin: 0 auto;


}

.positon {
    display: flex;
    justify-content: space-between;

    /* border: 2px solid white; */
    /* width: 1200px; */
    /* padding-left: 200px;
    padding-right: 200px; */
    margin: 0 auto;

}

.positon .pf {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

.positon .ps {
    color: white;
    font-size: 16px;

}

/* Why Choose TechWave */
.why-techwave {

    color: white;
    margin: 0 auto;
    /* max-width: 1600px; */
    padding: 120px 200px;
    /* border: 2px solid white; */



}

.why-techwave h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 800;


}

.container {
    /* width: 1200px; */
    margin: 0 auto;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    grid-template-areas: "audio mobile"
        "audio Global"
        "Interviews Resources";








}

.card {


    background-color: #351165;
    border-radius: 16px;
    padding: 30px;

    border: 1px solid rgba(255, 255, 255, 0.35);
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;



}

.audio {
    grid-area: audio;

}

.mobile {
    grid-area: mobile;

}

.Global {
    grid-area: Global;

}

.Interviews {
    grid-area: Interviews;

}

.Resources {
    grid-area: Resources;
}

/* <!-- Featured Episodes --> */
.card-section {
    color: white;
    text-align: center;
    /* max-width: 1600px;
    height: 1276px; */
    padding: 120px 200px;
    margin: 0 auto;
    /* border: 2px solid white; */

}

.card-section h2 {
    font-size: 48px;
    font-weight: 800;
}

.card-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;


}

.card1,
.card2,
.card3 {
    border: 1px solid rgba(255, 255, 255, 0.35);
    width: 380px;
    height: 440px;
    border-radius: 20px;
    text-align: left;

}

iframe {

    height: 214px;
    max-width: 100%;
    border-radius: 20px;
}

/* Host */
.host {

    color: white;
    background-color: #351165;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* height: 280px; */
    border-radius: 20px;
    margin-bottom: 120px;
    margin-top: 218px;


}

.host h2 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.host-container {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    /* width: 1200px; */

}



.content {
    text-align: left;
    margin: 0 auto;


    max-width: 892px;
    /* border: 2px solid white;
   
    */


}

.content h3 {

    font-size: 32px;
}

.text {
    /* border: 2px solid white; */
    font-size: 16px;







}


/* footer section */
footer {
    text-align: center;


    margin: 0 auto;
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    /* border: 2px solid white; */
    background: cover;


}

.tech {
    font-size: 48px;

}

.f-icon {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

footer p {
    color: #FAFAFA;
    font-size: 16px;
}



/* responsive */
@media screen and (max-width:576px) {
    .positon {
        display: grid;

        grid-template-columns: repeat(2, 1fr);

    }

    .why-techwave {
        flex-direction: column;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}