body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #1A0B2E;


}

/* font section */
.font-inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* header section */
nav h4 {
    margin-left: 200px;
    font-size: 30px;
    font-weight: 800;
}

.Tech {
    color: white;
}

.Wave {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;

    align-items: center;


}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;


}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn1 {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    border-radius: 20px;
    padding: 12px 16px;
    margin-right: 200px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
    cursor: pointer;
}



/* HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    color: white;

}

.hero-section {

    position: relative;
}

.rounded-mic .round-shap {
    width: 300px;
    height: auto;


}

.rounded-mic .mic {
    width: 100px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 25%;
    /* right: 50%; */
    transform: translate(-50%, -50%);

}

.rounded-mic span {
    background-color: #00FF88;
    color: black;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 339px;
    top: 60;

}

.hero-title {
    margin-top: 20px;
}

.hero-title h3 {
    font-size: 48px;
}

.btn-grp {
    display: flex;

    justify-content: center;
    gap: 20px;


}

.btn {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    border-radius: 20px;
    padding: 12px 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
    cursor: pointer;
}

.btn3 {
    color: #00FF88;
    border-radius: 20px;
    padding: 12px 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid #00FF88;
    background-color: #1A0B2E;
    cursor: pointer;
}

/* about section */

.about {
    color: white;
    text-align: center;
    /* width: 1600px; */
    height: 222px;
    margin: 0 auto;
    /* border: 2px solid white;  */
    padding-left: 200px;
    padding-right: 200px;
}

.about h3 {
    font-size: 44px;
    ;
}

.about p {

    text-align: center;

    font-size: 16px;
}

/*  details section  */
.count {

    text-align: center;
    /* width: 1600px; */
    /* border: 2px solid white;
     */


    padding-left: 200px;
    padding-right: 200px;
    margin: 0 auto;


}

.positon {
    display: flex;
    justify-content: space-between;

    /* border: 2px solid white; */
    /* width: 1200px; */
    /* padding-left: 200px;
    padding-right: 200px; */
    margin: 0 auto;

}

.positon .pf {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

.positon .ps {
    color: white;
    font-size: 16px;

}

/* Why Choose TechWave */
.why-techwave {

    color: white;
    margin: 0 auto;
    /* max-width: 1600px; */
    padding: 120px 200px;
    /* border: 2px solid white; */



}

.why-techwave h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 800;


}

.container {
    /* width: 1200px; */
    margin: 0 auto;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas: "audio mobile"
        "audio Global"
        "Interviews Resources";
}

.card {


    background-color: #351165;
    border-radius: 16px;
    padding: 30px;

    border: 1px solid rgba(255, 255, 255, 0.35);
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;



}

.audio {
    grid-area: audio;

}

.mobile {
    grid-area: mobile;

}

.Global {
    grid-area: Global;

}

.Interviews {
    grid-area: Interviews;

}

.Resources {
    grid-area: Resources;
}

/* <!-- Featured Episodes --> */
.card-section {
    color: white;
    text-align: center;
    /* max-width: 1600px;
    height: 1276px; */
    padding: 120px 200px;
    margin: 0 auto;
    /* border: 2px solid white; */

}

.card-section h2 {
    font-size: 48px;
    font-weight: 800;
}

.card-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;


}

.card1,
.card2,
.card3 {
    border: 1px solid rgba(255, 255, 255, 0.35);
    width: 380px;
    height: 440px;
    border-radius: 20px;
    text-align: left;

}

iframe {

    height: 214px;
    max-width: 100%;
    border-radius: 20px;
}

.time {
    color: #00FF88;
}

/* Host */
.host {}

.host h2 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.host-container {
    color: white;
    background-color: #351165;

    margin: 0 auto;

    border-radius: 20px;
    margin-bottom: 120px;
    margin-top: 218px;
    display: flex;
    gap: 24px;
    margin: 0 auto;


}



.content {
    text-align: left;
    margin: 0 auto;


    max-width: 892px;
    /* border: 2px solid white;
   
    */


}

.content h3 {

    font-size: 32px;
}

.text {
    /* border: 2px solid white; */
    font-size: 16px;







}


/* footer section */
footer {
    text-align: center;


    margin: 0 auto;



}

.tech {
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    font-size: 48px;
    margin-top: 20px;



}

.icon {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    /* margin-bottom: 20px; */

}

footer p {
    color: #FAFAFA;
    font-size: 16px;
}



/* responsive */
@media screen and (max-width: 576px) {



    section {
        margin-bottom: 64px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
        line-height: 1.6;
    }


    nav {
        padding: 16px;
    }

    nav h4 {
        margin: 0;
        font-size: 24px;
    }

    .menu {
        display: none;
    }

    .btn1 {
        display: none;
    }

    /* HERO SECTION */
    .hero {
        padding: 60px 16px;
        text-align: center;

        background-size: cover;
        background-position: top;


    }

    .rounded-mic .round-shap {
        width: 180px;
    }

    .rounded-mic .mic {
        width: 60px;
    }

    .rounded-mic span {
        top: -1%;
        right: 25%;
        left: 61%;
        font-size: 11px;
        padding: 6px 12px;
    }

    .hero-title h3 {
        font-size: 32px;
    }

    .hero-mic img {
        width: 110px;
        max-width: 100%;
        height: auto;
    }

    .btn-grp {
        flex-direction: row;
        gap: 12px;
    }

    .btn,
    .btn3 {
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
    }

    /* about section */
    .about {
        padding: 0 16px;
        height: auto;
    }

    /*  details section  */
    .count {
        padding: 0 16px;
    }

    .positon {
        display: grid;
        grid-template-columns: repeat(2, 2fr);

        gap: 28px;
    }

    .pf {
        font-size: 36px;
    }

    /* Why Choose TechWave */
    .why-techwave {
        padding: 60px 16px;
    }

    .why-techwave h2 {
        white-space: nowrap;
        font-size: 35px;
        font-weight: 600;
    }


    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "audio"
            "mobile"
            "Global"
            "Interviews"
            "Resources";
        gap: 16px;
    }

    .card {
        padding: 24px;
    }


    /* <!-- Featured Episodes --> */
    .card-section {
        padding: 60px 16px;
    }

    .card-container {
        flex-direction: column;
        gap: 24px;
    }

    .card-section h2 {
        font-size: 41px;
    }

    .card1,
    .card2,
    .card3 {
        width: 100%;
        height: auto;
        border-radius: 16px;
    }

    iframe {
        width: 100%;
        height: 200px;
    }

    /* Host */
    .host {
        padding: 40px 16px;
        margin-top: 100px;
    }

    .host-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .imges img {
        width: 140px;
        height: 140px;
    }

    .content {
        text-align: center;
    }

    .content img {
        width: 22px;
        margin: 0 6px;
    }

    /* footer section */
    .tech {
        font-size: 28px;
        padding: 40px 16px;
    }

    .icon {
        display: flex;

        gap: 10px;
    }

    footer p {
        font-size: 14px;
    }
}